## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
exportPattern("^[[:alpha:]]+")

import(RPostgres)
import(DBI)
importFrom("stats", "aggregate")
import(dplyr)
import(magrittr)
